process {
  executor = 'k8s'
}

k8s {
  pod = [
    [volumeClaim: "ftp-claim", subPath: "test3", mountPath: "/home/input"],
    [volumeClaim: "nextflow-pv-claim-output", subPath: "test3/antibodyConcat-test", mountPath: "/home/output"],
    [volumeClaim: "nextflow-pv-claim-models", subPath: "denovo", mountPath: "/home/denovo_models"],
    [volumeClaim: "nextflow-pv-claim-models", subPath: "antibodyConcat", mountPath: "/home/models"],
    [volumeClaim: "nextflow-pv-claim-models", subPath: "antibodyConcat/templates", mountPath: "/home/templates"],
    [volumeClaim: "nextflow-pv-claim-runtime", mountPath: "/workspace"]
  ]
}
